@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Merriweather:wght@700&family=Oswald:wght@300&display=swap');
body{
  font-family: 'Amiri Quran', serif;
  text-align: center;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  color: white;
}
#borderInfo{
  border-width:5px;
  border-style:solid;
  border-color:black;
  display: inline-block;
  margin: 40px;
}
#borderHome{
  border-width:5px;
  border-style:solid;
  border-color:black;
  display: inline-block;
  margin: 2px;
}
#btn {
    margin: 0;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.border{
  font-size: 15px;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid purple;
  border-radius: 6px;
}
.homeForm{
  flex-direction: row;

}
.nameForm{
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}
.addBtn{
  margin: 10px;
  font-size: 15px;
  padding: 8px 24px;
  background-color: #3877b7;
  color: white;
  border-radius: 6px;
  border: 2px solid white
}