@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Merriweather:wght@700&family=Oswald:wght@300&display=swap');
body{
  font-family: 'Amiri Quran', serif;
  text-align: center;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  color: white;
}
#borderInfo{
  border-width:5px;
  border-style:solid;
  border-color:black;
  display: inline-block;
  margin: 40px;
}
#borderHome{
  border-width:5px;
  border-style:solid;
  border-color:black;
  display: inline-block;
  margin: 2px;
}
#btn {
    margin: 0;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
